@import url("../../prosilver/theme/responsive.css");

#wrap {
    padding: 5px;
    margin: 0;
    border: none;
}

.postprofile, .postbody, .search .postbody {
    width: 100%;
}

#archnavbarlogo {
    width: 50px !important;
}

#archnavbarlist li a {
    font-weight: normal !important;
    font-size: 12px !important;
}
