<script type="text/javascript">
$(function() {
    var f = $('#postform');
    if (f && f.attr('action').match(/mode=post/)) {
        f.submit(function() {
            var e = $(this).find('#postingbox .error').empty();
            if (!$(this).find('#subject').val().match(/^\[.+\] .+$/)) {
                if (!e.length) {
                    e = $('<p>').addClass('error');
                    $(this).find('#postingbox .fields1').prepend(e);
                }
                e.html('<a href="https://wiki.archlinux.fr/Forum#Format_du_titre" target="_blank">Le sujet doit être de la forme "[thème] description" ou "[thème] description (état)".</a>')
                return false;
            }
        });
    }
});
</script>
